<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Product</title>
  <!-- Add Tailwind CSS CDN link here -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    .container {
      width: 70%;
    }
  </style>
</head>

<body class="bg-gray-100">
  <div class="container mx-auto p-6">
    <h1 class="text-2xl font-semibold mb-4">ADD CATAGORY</h1>
       <a href="/admin/catagory"class="absolute right-64 text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8  flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white close-coupon-Box-edit">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
      </a>
    <form class="bg-white shadow-md rounded-lg px-8 pt-6 pb-8 mb-4" action="/admin/createCatagory"
    method="post" enctype="multipart/form-data" onsubmit="return v()">
    
    <!-- Category Image -->
    <div class="mb-4">
      <label for="" class="block text-gray-700 text-sm font-bold mb-2">Category Image</label>
      <input  type="file" id="categoryImage" name="image"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
      accept="image/*">
   
      </div>

      <!-- Category Name -->
      <div class="mb-4">
        <label for="" class="block text-gray-700 text-sm font-bold mb-2">Category Name</label>
        <input oninput="categoryValidation()" type="text" id="productName" name="categoryName"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
      </div>
      <p class="text-red-400" id="error"></p>
      <!-- Category Description -->
      <div class="mb-4">
        <label for="categoryDescription" class="block text-gray-700 text-sm font-bold mb-2">Category Description</label>
        <input  type="text" id="categoryDescription" name="categoryDescription" oninput="description()"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
         ></input>
      </div>
      <p class="text-red-400" id="desError"></p>

      <!-- Product DATE -->
      <div class="mb-4">
        <label for="categoryDate" class="block text-gray-700 text-sm font-bold mb-2">publish date</label>
        <input type="date" id="categoryDate" name="categoryPublishDate" min="0" step="0.01"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          >
      </div>

      <div class="flex items-center justify-between">
        <button type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Add Category
        </button>
        <p class="text-red-400" id="mainError"></p>
        <p class="text-red-400"><%=message%></p>
      </div>
    </form>
  </div>

  <script>
    function v(){
      const productName = document.getElementById("productName").value.trim();
      const description = document.getElementById("categoryDescription").value.trim();
      const error = document.getElementById("mainError");
   
    if(productName ==='' ||  description === ''){
      error.innerText = "Please fill in form";
      return false;
    }
    return categoryValidation()
    }

    function categoryValidation(){
      const productName = document.getElementById("productName").value.trim();
        const error = document.getElementById("error");
        const onlyLettersRegex = /^[a-zA-Z]+$/;
        console.log(productName);
        if(productName === ""){
          error.innerText = "enter valid name";
          return false;
        }else if (!onlyLettersRegex.test(productName)) {
          error.innerText = "Name can only contain letters";
        return false; // Indicate validation failure
        }else{
          error.innerText = ""
          return true;
        }
    }


    function description(){
      const productName = document.getElementById("categoryDescription").value.trim();
        const error = document.getElementById("desError");
        const onlyLettersRegex = /^[a-zA-Z]+$/;
        console.log(productName);
        if(productName === ""){
          error.innerText = "enter valid name";
          return false;
        }else if (!onlyLettersRegex.test(productName)) {
          error.innerText = "Name can only contain letters";
        return false; // Indicate validation failure
        }else if (productName.length >60) {
          error.innerText = "description can not exceed above 60";
        return false; // Indicate validation failure
        }
        else{
          error.innerText = ""
          return true;
        }
    }


  </script>

</body>
</html>
