<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFIRMATION</title>
    <link rel="icon" type="image/x-icon" href="/image/icons8-n-50.png">
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>
   
    <div>
        <p class="font-extrabold text-5xl text-center mt-16 text-green-500">ORDER CONFIRMED</p>
    </div>

    <div class="  h-80 w-full inset-0  text-center" id="confirm"></div>

        <div class="flex mb-32">
            <a href="/shop" class=" flex w-full justify-center underline font-semibold text-black text-xl mt-10">
               <svg class="fill-current mr-2 text-black w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
               Continue Shopping
             </a>
             <a href="/orderMain" class=" flex w-full justify-center underline font-semibold text-black text-xl mt-10">
               <svg class="fill-current mr-2 text-black  w-4" viewBox="0 0 448 512"><path d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z"/></svg>
               VIEW ORDER
             </a>
        </div>

        <%- include("../partials/footer.ejs") %>

           

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>
        <script>
            bodymovin.loadAnimation({
                container: document.getElementById('confirm'),
                path:'/json/order.json',
            });
            </script>
</body>
</html>