<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

  <!-- Demo styles -->
  <style>
    html,
    body {
      position: relative;
      height: 100%;
    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    .swiper {
      width: 90%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  </style>
</head>

<body class="w-screen overflow-x-hidden">
<!-- navbar -->
<%- include("../partials/navbar.ejs") %>
   <!-- text about the shop -->
  <div class="text-center pt-36" >
    <h1 class="font-black text-4xl ">Where All Athletes Belong</h1>
   <div class="flex justify-center pt-8 font-style: italic">
    <p class="w-6/12 ">Welcome to our shoe haven! Step into style and comfort with our exquisite collection of footwear that combines fashion and function. Discover the perfect pair for every occasion, from sleek formal wear to casual chic. Let us guide you through a delightful journey of shoe indulgence!
    </p>
   </div>
</div>

<!-- Banner page -->
<div class="pt-44 lg:w-full sm: w-auto">  
  <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/upload/banner1.jpg" alt="no image"></div>
    <div class="swiper-slide"><img src="/upload/banner2.jpg" alt="no image"></div>
    <div class="swiper-slide"><img src="/upload/banner3.jpg" alt="no image"></div>
  </div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-pagination"></div>
</div>
</div>


  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 <!-- cards -->
<div class="flex flex-wrap justify-evenly mt-28 mb-28 gap-4 sm:gap-8 p-4 pt-28 sm:py-8 h-min">
  <div class="relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 h-96 mb-4 ">
      <img class="w-full h-full object-cover" src="/upload/female.jpg" alt="no image">
      <div class="absolute inset-0 flex items-center justify-center">
          <h1 class="text-white text-xl sm:text-2xl md:text-xl lg:text-xl xl:text-xl">FOR HER</h1>
      </div>
  </div>
  <div class="relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 h-96 mb-4">
      <img class="w-full h-full object-cover" src="/upload/male.jpg" alt="no image">
      <div class="absolute inset-0 flex items-center justify-center">
          <h1 class="text-white text-xl sm:text-2xl md:text-xl lg:text-xl xl:text-xl">FOR HIM</h1>
      </div>
  </div>
  <div class="relative w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 h-96 mb-4">
      <img class="w-full h-full object-cover" src="/upload/kid.jpg" alt="no image">
      <div class="absolute inset-0 flex items-center justify-center">
          <h1 class="text-white text-xl sm:text-2xl md:text-xl lg:text-xl xl:text-xl">FOR KIDS</h1>
      </div>
  </div>
</div>

<!-- footer -->
<%- include("../partials/footer.ejs") %>
  

 <!-- Initialize Swiper -->
 <script>
  var swiper = new Swiper(".mySwiper", {
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
    },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

</body>
</html>